* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    color: rgb(59, 58, 58);
}

.size {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    font-size: 30px;
}

section {
    margin-left: 30px;
    font-size: 25px;
}

section a {
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

a:hover {
    color: aqua;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.container h1 {
    font-size: 70px;
    margin: 0;
}

.container p {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
}

.container a {
    border-radius: 25px;
    padding: 10px 25px;
}

.book {
    text-decoration: none;
    background-color: rgb(255, 5, 101);
    color: white;
}

.mart {
    margin-top: 50px;
    margin-left: 150px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(7, 170px);
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2em;
}

.product {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.product h1 {
    margin-left: 430px;
    font-size: 40px;
    color: black;
}

.fa-star {
    color: orange;
    padding-right: 4px;
}

.fa-star-half-o {
    color: orange;
}

.product-sell {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sell {
    margin-top: 60px;
    margin-right: 60px;
    padding-left: 20px;
    padding-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 20px 0;
    border-radius: 5px;
}

.sell img {
    width: 350px;
}

.sell h6 {
    font-size: 15px;
    color: lightslategray;
    margin-top: 0;
}

.sell h3 {
    font-size: 30px;
    margin-bottom: 4px;
}

.sell p {
    margin-bottom: 0;
}

.tap {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    width: 100%;
    justify-content: end;
    font-weight: bold;
    font-size: 20px;
}

.tap a {
    text-decoration: none;
    color: rgb(255, 5, 101);
}

.tap a:hover {
    color: aqua;
}

.bottom {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.bottom img {
    height: 300px;
    width: 500px;
    border-radius: 5px;
}

.file {
    font-size: 20px;
}

.file p {
    color: gray;
    font-weight: bold;
}

.join {
    text-decoration: none;
    background-color: rgb(255, 5, 101);
    color: white;
    padding: 10px 25px;
}

footer {
    margin-top: 40px;
    padding-top: 70px;
    height: 150px;
    width: 100%;
    background-color: rgb(17, 21, 54);
    text-align: center;
}

footer h1 {
    color: white;
    margin-bottom: 5px;
}

footer p {
    color: rgba(150, 149, 149, 0.753);
}

.foot {
    display: flex;
    justify-content: center;
}

.round {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: rgb(50, 62, 168);
}

@media only screen and (max-width:668px) {
    section {
        display: none;
    }
    header {
        text-align: center;
    }
    header h3 {
        font-size: 20px;
        padding-left: 55px;
    }
    .container {
        flex-direction: column-reverse;
        padding-left: 60px;
    }
    .container img {
        width: 200px;
        padding-left: 0;
    }
    .container h1 {
        font-size: 40px;
    }
    .container p {
        font-size: 11px;
    }
    .mart {
        margin-left: 60px;
        width: 40%;
        grid-template-columns: repeat(2, 100px);
        justify-content: center;
        justify-items: center;
    }
    .mart img {
        width: 50px;
        margin-bottom: 5px;
    }
    .product h1 {
        margin-left: 0;
        font-size: 20px;
        text-align: center;
    }
    .product-sell {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        padding-left: 70px;
    }
    .sell {
        margin-right: 200px;
        text-align: center;
        padding-right: 20px;
    }
    .sell img {
        width: 120px;
    }
    .sell h3 {
        font-size: 20px;
    }
    .sell h6 {
        font-size: 15px;
    }
    .tap {
        justify-content: center;
    }
    .bottom {
        flex-direction: column;
        align-items: center;
    }
    .gopro img {
        width: 200px;
        height: 200px;
    }
    .file h1 {
        font-size: 14px;
    }
    .file p {
        font-size: 7px;
    }
    footer h1 {
        font-size: 20px;
    }
    footer p {
        font-size: 10px;
    }
}